<% include partials/header %>
<% include partials/loggedin %>

<%
if(listing.contractdate || listing.expirydate || listing.possessiondate){
  var today = new Date();
  function formattedDate(foundDate){
    foundDate = (foundDate.getMonth() + 1) + '/' + foundDate.getDate() + '/' +  foundDate.getFullYear();
    return foundDate;
  }
}
%>
<div class="container-fuild cs_row_space">
  <form class="" action="/listing/<%= listing._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="container area_font">
      <h3>Edit this List : <small>You must fill the required fields. Required fields are contarct, expiry , Commencement and Last status field</small></h3>
        <h6 id="centeredheading">Property Classification</h6>
        <hr>
        <div class="row">
          <div class="col">
            <label for="propertyclass" class="">Property Class</label> <br>
            <select class="" data-style="" name="listing[propertyclass]" id="propertyclass"  size="2">
                    <option name="table1" value="Residential" <%= listing.propertyclass === 'Residential' ? 'selected': '' %>>Residential</option>
                    <option name="table2" value="Commercial" <%= listing.propertyclass === 'Commercial' ? 'selected': '' %>>Commercial</option>
            </select>
          </div>

          <div class="col">
            <label for="sale" class="">Sale or Lease</label> <br>
            <select class="" data-style="" name="listing[sale]" id="sale" size="3">
                    <option name="table1" value="Sale" <%= listing.sale === 'Sale' ? 'selected': '' %>>Sale</option>
                    <option name="table2" value="Lease" <%= listing.sale === 'Lease' ? 'selected': '' %>>Lease</option>
                    <option name="table3" value="Sub Lease" <%= listing.sale === 'Sub Lease' ? 'selected': '' %>>Sub Lease</option>
            </select>
          </div>
          <div class="exteriortypes col">
            <label for="name" class="">Property Type:</label> <br>
            <select class="exteriortype" data-style="" name="listing[exteriortype]" id="exteriortype"  size="3" disabled>
              <option name="exteriortype1" value="Apartment" <%= listing.exteriortype === 'Apartment' ? 'selected': '' %> class="property">Apartment</option>
              <option name="exteriortype2" value="House" <%= listing.exteriortype === 'House' ? 'selected': '' %> id="house" class="property">House</option>
              <option name="exteriortype5" value="Land" <%= listing.exteriortype === 'Land' ? 'selected': '' %> id="land" class="property">Land</option>
              <option name="exteriortype3" value="Duplex" <%= listing.exteriortype === 'Duplex' ? 'selected': '' %> class="property">Duplex</option>
              <option name="exteriortype4" value="Multiplex"  <%= listing.exteriortype === 'Multiplex' ? 'selected': '' %>class="property">Multi-storey Building</option>
              <option name="exteriortype5" value="Store" <%= listing.exteriortype === 'Store' ? 'selected': '' %> id="store" class="property">Store</option>
              <option name="exteriortype5" value="Office" <%= listing.exteriortype === 'Office' ? 'selected': '' %> id="office" class="property">Office</option>
              <option name="exteriortype5" value="Market"  <%= listing.exteriortype === 'Market' ? 'selected': '' %> id="market" class="property">Market</option>
            </select>
          </div>
        </div>
    </div>
    <div class="container area_font">


    <h6 id="centeredheading">Location</h6>
    <hr>
    <div class="row">
      <div class="col">
        <label for="division" class="">Division</label> <br>
        <select class="" data-style="" name="listing[division]">
                <option name="table2" value="Dhaka" <%= listing.division === 'Dhaka' ? 'selected': '' %> >Dhaka</option>
        </select>
        <br>
        <label for="district" class="">District</label> <br>
        <select class="" data-style="" name="listing[district]">
                <option name="table1" value="Dhaka" <%= listing.district === 'Dhaka' ? 'selected': '' %>>Dhaka</option>
        </select>
        <br>
        <label for="city" class="">City</label> <br>
        <select class="" data-style="" name="listing[city]">
                <option name="table1" value="Dhaka South" <%= listing.city === 'Dhaka South' ? 'selected': '' %>>Dhaka South</option>
                <option name="table2" value="Dhaka North" <%= listing.city === 'Dhaka North' ? 'selected': '' %>>Dhaka North</option>
        </select>
      </div>
      <div class="col">
        <label for="area" class="">Area</label> <br>
        <select class="" data-style="" name="listing[area]" size="4">
                <option name="table1" value="Adabar" <%= listing.area === 'Adabar' ? 'selected': '' %>>Adabar</option>
                <option name="table2" value="Azampur" <%= listing.area === 'Azampur' ? 'selected': '' %>>Azampur</option>
                <option name="table3" value="Badda" <%= listing.area === 'Badda' ? 'selected': '' %>>Badda</option>
                <option name="table4" value="Bangsal" <%= listing.area === 'Bangsal' ? 'selected': '' %>>Bangsal</option>
                <option name="table5" value="Bimanbandar" <%= listing.area === 'Bimanbandar' ? 'selected': '' %>>Bimanbandar</option>
                <option name="table6" value="Cantonment" <%= listing.area === 'Cantonment' ? 'selected': '' %>>Cantonment</option>
                <option name="table7" value="Chowkbazar" <%= listing.area === 'Chowkbazar' ? 'selected': '' %>>Chowkbazar</option>
                <option name="table8" value="Darus Salam" <%= listing.area === 'Darus Salam' ? 'selected': '' %>>Darus Salam</option>
                <option name="table9" value="Demra" <%= listing.area === 'Demra' ? 'selected': '' %>>Demra</option>
                <option name="table10" value="Dhanmondi" <%= listing.area === 'Dhanmondi' ? 'selected': '' %>>Dhanmondi</option>
                <option name="table11" value="Gendaria" <%= listing.area === 'Gendaria' ? 'selected': '' %>>Gendaria</option>
                <option name="table12" value="Gulshan"<%= listing.area === 'Gulshan' ? 'selected': '' %>>Gulshan</option>
                <option name="table13" value="Hazaribagh"<%= listing.area === 'Hazaribagh' ? 'selected': '' %>>Hazaribagh</option>
                <option name="table14" value="Kadamtali"<%= listing.area === 'Kadamtali' ? 'selected': '' %>>Kadamtali</option>
                <option name="table15" value="Kafrul"<%= listing.area === 'Kafrul' ? 'selected': '' %>>Kafrul</option>
                <option name="table16" value="Kalabagan"<%= listing.area === 'Kalabagan' ? 'selected': '' %>>Kalabagan</option>
                <option name="table17" value="kamrangirchar"<%= listing.area === 'kamrangirchar' ? 'selected': '' %>>kamrangirchar</option>
                <option name="table18" value="Khilgoan" <%= listing.area === 'Khilgoan' ? 'selected': '' %>>Khilgoan</option>
                <option name="table19" value="Khilkhet" <%= listing.area === 'Khilkhet' ? 'selected': '' %>>Khilkhet</option>
                <option name="table20" value="Kotwali" <%= listing.area === 'Kotwali' ? 'selected': '' %>>Kotwali</option>
                <option name="table21" value="Lalbagh" <%= listing.area === 'Lalbagh' ? 'selected': '' %>>Lalbagh</option>
                <option name="table22" value="Mirpur" <%= listing.area === 'Mirpur' ? 'selected': '' %>>Mirpur</option>
                <option name="table23" value="Mohammadpur" <%= listing.area === 'Mohammadpur' ? 'selected': '' %>>Mohammadpur</option>
                <option name="table24" value="Motijheel" <%= listing.area === 'Motijheel' ? 'selected': '' %>>Motijheel</option>
                <option name="table25" value="New Market" <%= listing.area === 'New Market' ? 'selected': '' %>>New Market</option>
                <option name="table26" value="Pallabi" <%= listing.area === 'Pallabi' ? 'selected': '' %>>Pallabi</option>
                <option name="table27" value="Paltan" <%= listing.area === 'Paltan' ? 'selected': '' %>>Paltan</option>
                <option name="table28" value="Panthapath" <%= listing.area === 'Panthapath' ? 'selected': '' %>>Panthapath</option>
                <option name="table29" value="Romna" <%= listing.area === 'Ramna' ? 'selected': '' %>>Ramna</option>
                <option name="table30" value="Rampura" <%= listing.area === 'Rampura' ? 'selected': '' %>>Rampura</option>
                <option name="table31" value="Shabujbagh" <%= listing.area === 'Shabujbagh' ? 'selected': '' %>>Shabujbagh</option>
                <option name="table32" value="Shah Ali" <%= listing.area === 'Shah Ali' ? 'selected': '' %>>Shah Ali</option>
                <option name="table33" value="Sher-e-Bangla Nagar" <%= listing.area === 'Sher-e-Bangla Nagar' ? 'selected': '' %>>Sher-e-Bangla Nagar</option>
                <option name="table34" value="Shyampur" <%= listing.area === 'Shyampur' ? 'selected': '' %>>Shyampur</option>
                <option name="table35" value="Sutrapur" <%= listing.area === 'Sutrapur' ? 'selected': '' %>>Sutrapur</option>
                <option name="table36" value="Tejgoan" <%= listing.area === 'Tejgoan' ? 'selected': '' %>>Tejgoan</option>
                <option name="table37" value="Tejgoan Industrial Area" <%= listing.area === 'Tejgoan Industrial Area' ? 'selected': '' %>>Tejgoan Industrial Area</option>
                <option name="table38" value="Turag" <%= listing.area === 'Turag' ? 'selected': '' %>>Turag</option>
                <option name="table39" value="Uttar Khan" <%= listing.area === 'Uttar Khan' ? 'selected': '' %>>Uttar Khan</option>
                <option name="table40" value="Uttara" <%= listing.area === 'Uttara' ? 'selected': '' %>>Uttara</option>
                <option name="table41" value="Vatara" <%= listing.area === 'Vatara' ? 'selected': '' %>>Vatara</option>
                <option name="table42" value="Wari" <%= listing.area === 'Wari' ? 'selected': '' %>>Wari</option>
        </select>
        <div class="">
          <label for="stname"> Street </label> <br>
          <input type="text" name="listing[stname]" value="<%= listing.stname %>" placeholder="" > <br>
          <label for="community" class="">Community</label> <br>
          <input type="text" name="listing[community]" value="<%= listing.community %>"  placeholder="">
        </div>
      </div>
      <div class="col">
        <div class="">
          <label for="listprice" class="">List Price</label> <br>
          <input type="number" name="listing[listprice]" value="<%= listing.listprice %>" step="1" min="0" id="price001">
          <input type="number" name="listing[originalprice]" value="<%= listing.listprice %>" id="price002" hidden>
        </div>
        <div class="">
          <label for="name" class="">Contract Commencement: <%= formattedDate(listing.contractdate); %></label> <br>
          <input type="date" name="listing[contractdate]" value=" <%= listing.contractdate %>" required>
        </div>
        <div class="">
          <label for="name" class="">Expiry Date : <%= formattedDate(listing.expirydate); %></label> <br>
          <input type="date" name="listing[expirydate]" value=" <%= listing.expirydate %>" required>
        </div>
        <div class="">
          <label for="name" class="">Possession Date: <%= formattedDate(listing.possessiondate); %></label> <br>
          <input type="date" name="listing[possessiondate]" value=" <%= listing.possessiondate %>" required>
        </div>
      </div>

      <div class="col">
        <div class="">
          <label for="name" class="">Holdover Days</label> <br>
          <input type="number" name="listing[holdoverdays]" value="<%= listing.holdoverdays %>">
        </div>
        <div class="">
          <label for="name" class="">Seller/Landlord Name</label> <br>
          <input type="text" name="listing[sellername]" value="<%= listing.sellername %>">
        </div>
        <div class="">
          <label for="cbcomm" class="">Brokerage Commission</label> <br>
          <input type="text" name="listing[cbcomm]" value="<%= listing.cbcomm %>">
        </div>
        <div class="">
          <label for="ad" class="">Advertisment</label> <br>
          <select class="" data-style="" name="listing[ad]">
                  <option name="table1" value="Y" <%= listing.ad === 'Y' ? 'selected': '' %>>Yes</option>
                  <option name="table2" value="N" <%= listing.ad === 'N' ? 'selected': '' %>>No</option>
          </select>
        </div>
      </div>
    </div>
    </div>
    <div class="container area_font">
    <h6 id="centeredheading">Details</h6>
    <hr>
    <h3 class="warn">You must select a "Property Type" to insert specific details.</h3>
    <div class="">
        <div class="block" id="apt">
          <% include partials/aptedit %>
        </div>
        <div class="block"  id="house">
          <% include partials/houseedit %>
        </div>
        <div class="block"  id="land">
          <% include partials/landedit %>
        </div>
        <div class="block"  id="common">
          <% include partials/commonedit %>
        </div>
     </div>
<!-- End of prices and Dates -->

    <!-- End of interior -->

    <h6>Comments</h6>
    <hr>
    <div class="container">
      <div class="col">
        <label>Remarks for Clients: </label> <br>
        <textarea name="listing[remarkforclients]" rows="2" cols="100" maxlength="250" ><%= listing.remarkforclients %> </textarea>
      </div>
      <div class="col">
        <label>Extras: </label> <br>
        <textarea name="listing[extras]" rows="2" cols="100" maxlength="250"><%= listing.extras %></textarea>
      </div>

      <div class="col">
        <label>Remarks for Brokerages: </label> <br>
        <textarea name="listing[remarkforbrokers]" rows="2" cols="100" maxlength="250"><%= listing.remarkforbrokers %></textarea>
      </div>
    </div>
  </div> <br>
  <hr>
  <div class="container area_font">
    <div class="row">
      <!-- Default Availibility is unsold -->
      <div class="col">
        <select class="" data-style="" name="listing[laststatus]" size="3" required>
          <option name="laststatus1" value="Available" <%= listing.laststatus === 'Available' ? 'selected': '' %> >Available</option>
          <option name="laststatus2" value="Price Changed" <%= listing.laststatus === 'Price Changed' ? 'selected': '' %>>Price Changed</option>
          <option name="laststatus3" value="Conditional Sold" <%= listing.laststatus === 'Conditional Sold' ? 'selected': '' %>>Conditional Sold</option>
          <option name="laststatus4" value="Sold" <%= listing.laststatus === 'Sold' ? 'selected': '' %>>Sold</option>
          <option name="laststatus4" value="Terminated" <%= listing.laststatus === 'Terminated' ? 'selected': '' %>>Terminated</option>
        </select>
      </div>
      <div class="col">
        <input type="file" name="image" accept="image/*">
        <input type="file" name="image" accept="image/*">
        <input type="file" name="image" accept="image/*">
      </div>
      <div class="col">
        <input type="file" name="image" accept="image/*">
        <input type="file" name="image" accept="image/*">
        <input type="file" name="image" accept="image/*">
      </div>
    </div>
  </div>

  <div class="">
    <label for="status" class=""></label>
    <select class="" data-style="" name="listing[status]" hidden>
      <option name="table1" value="Available" <%= listing.status === 'Available' ? 'selected': '' %> >Unsold</option>
      <option name="table1" value="Unvailable" <%= listing.status === 'Unvailable' ? 'selected': '' %> >sold</option>
    </select>
  </div>

<!-- End of comments -->
    <div class="text-center">
      <button type="submit" name="button" class="btn btn-secondary"> Submit </button>
    </div>
  </form>
</div>
<script type="text/javascript">
  var properties = document.querySelectorAll('.property');
  var blocks = document.querySelectorAll('.block');
  var warning = document.querySelector('.warn');

  blocks[0].classList.add('blockHidden');
  blocks[1].classList.add('blockHidden');
  blocks[2].classList.add('blockHidden');
  blocks[3].classList.add('blockHidden');

if(properties[0].selected == true){
    blocks[0].classList.remove('blockHidden');
    blocks[0].classList.add('currentBlock');
    blocks[1].classList.add('blockHidden');
    blocks[2].classList.add('blockHidden');
    blocks[3].classList.add('blockHidden');
    warning.classList.add('warning');
    var nums = [];
    for( var i = 1; i < 19; i++ ) {
        nums[i] = parseInt( document.getElementById("e000" + i).disabled = false );
    }
}

if(properties[1].selected == true){
    blocks[1].classList.remove('blockHidden');
    blocks[1].classList.add('currentBlock');
    blocks[0].classList.add('blockHidden');
    blocks[2].classList.add('blockHidden');
    blocks[3].classList.add('blockHidden');
    warning.classList.add('warning');
    var nums = [];

    for( var i = 1; i < 16; i++ ) {
        nums[i] = parseInt( document.getElementById("eh000" + i).disabled = false );
    }
}

 if(properties[2].selected == true){
     blocks[2].classList.remove('blockHidden');
     blocks[2].classList.add('currentBlock');
     blocks[1].classList.add('blockHidden');
     blocks[0].classList.add('blockHidden');
     blocks[3].classList.add('blockHidden');
     warning.classList.add('warning');
}

if(properties[3].selected == true || properties[4].selected == true || properties[5].selected == true || properties[6].selected == true ||  properties[7].selected == true ){
    blocks[3].classList.remove('blockHidden');
    blocks[3].classList.add('currentBlock');
    blocks[1].classList.add('blockHidden');
    blocks[2].classList.add('blockHidden');
    blocks[0].classList.add('blockHidden');
    warning.classList.add('warning');

    var nums = [];
    for( var i = 1; i < 13; i++ ) {
        nums[i] = parseInt( document.getElementById("e0000" + i).disabled = false );
    }
}

</script>
<% include partials/footer %>
