<% include partials/header %>
<% include partials/loggedin %>

  <div class="">
    <% if(noMatch !== null) { %>
      <h4><%= noMatch %> </h4>
      <% } %>
  </div>
  <table class="wrapper">
    <tr class="">
      <th>MLS#</th>
      <th>Property Class</th>
      <th>Sale or Lease</th>
      <th>Area</th>
      <th>Community</th>
      <th>List Price</th>
      <th>Property Type</th>
      <th>Square ft.</th>
      <th>Water</th>
      <th>Power</th>
      <th>Last Statu</th>
      </tr>
  <% listings.forEach(function(listing){ %>
        <tr class="">
          <td>Currently N/A</td>
          <td><%= listing.propertyclass %> </td>
          <td><%= listing.sale %> </td>
          <td><%= listing.area %> </td>
          <td><%= listing.community %> </td>
          <td><%= listing.listprice %> </td>
          <td><%= listing.exteriortype %> </td>
          <td><%= listing.measurement %> </td>
          <td><%= listing.water %> </td>
          <td><%= listing.power %> </td>
          <td><%= listing.laststatus %> </td>
          <td><a href="/listing/<%= listing._id %>">Details</a></td>
          <td>
            <% if(currentUser && listing.author.id.equals(currentUser._id)){ %>
          <a href="/listing/<%= listing._id %>/edit">Edit</a>
            <% } %>
          </td>
        </tr>
    <% }); %>

</table>

<% include partials/footer %>
