<% include partials/header %>
<% include partials/loggedin %>

<%
  function formattedDate(foundDate){
    foundDate = (foundDate.getMonth() + 1) + '/' + foundDate.getDate() + '/' +  foundDate.getFullYear();
    return foundDate;
  }
%>

<div class="listing_scroll">
      <div class="">
        <table class="">
          <thead>
            <tr class="">
              <th>#</th>
              <th>LSC</th>
              <th>Property</th>
              <th>Street Name</th>
              <th>Apt/Unit</th>
              <th>Community</th>
              <th>Price</th>
              <th>Br + Wr</th>
              <th>Exposure</th>
              <th>Balcony</th>
              <th>Parking</th>
              <th>Maintainence</th>
              <th>Contract Date</th>
              <th>List Brokerage</th>
              <th>Brokerage Ph#</th>
              <th>CB comm</th>
              <th>MLS#</th>
              </tr>
          </thead>
          <tbody>
            <% listings.forEach(function(listing, index){ %>
                  <tr class="">
                    <td> <%= index + 1 %></td>
                    <td> <%= listing.laststatus %> </td>
                    <td> <%= listing.exteriortype %> </td>
                    <td> <%= listing.stname %> </td>
                    <td> <%= listing.unit %>  </td>
                    <td> <%= listing.community %> </td>
                    <td>Tk<%= listing.listprice %> </td>
                    <td> <%= listing.bedroom %>+<%= listing.washroom %></td>
                    <td> <%= listing.exposure %> </td>
                    <td> <%= listing.balcony %> </td>
                    <td> <%= listing.parking %> </td>
                    <td> Tk <%= listing.maint %>.00</td>
                    <td> <%= formattedDate(listing.contractdate) %> </td>
                    <td> <%= currentUser.brokerage %>  </td>
                    <td> <%= currentUser.phone %> </td>
                    <td> <%= listing.cbcomm %> </td>
                    <td> <%= ("BD").concat(listing.id.slice(4, 9)); %></td>
                    <td><a href="/listing/<%= listing._id %>"><i class="fas fa-eye"></i></a></td>
                    <td>
                      <% if(currentUser && listing.author.id.equals(currentUser._id)){ %>
                    <a href="/listing/<%= listing._id %>/edit"><i class="fas fa-edit"></i></a>
                      <% } %>
                    </td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
      </div>
</div>
<% if(noMatch !== null) { %>
  <div class="">
  <P style="text-align: center; width:100%; padding:5rem 0 2rem 0; font-size: 1.5rem;"><%= noMatch %> </P>
  <!-- <img src="/images/search_again.jpg" alt="" style="display:block; margin-left:auto; margin-right:auto; max-width:100%; padding:3rem 0 5rem 0;"> -->
  </div>
  <% } %>

<% include partials/footer %>
