<% include partials/header %>
<% include partials/loggedin %>


<%
if(listing.contractdate || listing.expirydate || listing.possessiondate){
  var today = new Date();
  function formattedDate(foundDate){
    foundDate = (foundDate.getMonth() + 1) + '/' + foundDate.getDate() + '/' +  foundDate.getFullYear();
    return foundDate;
  }
}
%>

<%
var imageString = [];
for(var i = 0; i < listing.image.length; i++){
  if(listing.image[i]){
    imageString[i] = listing.image[i];
    //remove slashes
    imageString[i] = imageString[i].replace(/\\/g, "\/");
    //remove public folder
    imageString[i] = imageString[i].replace("public", "");
  }
}
%>
<br>
<div class=" wrapper show_border">
  <div class="show">

    <div class="show_image">
      <img src="<%= imageString[0] %>" class="figure-img img-fluid rounded" alt="..." style="max-width: 60%; margin: 0 auto 0 auto;">
    </div>

    <div class="show_first">

      <div class="show_second">

        <div class="">
          <div class="card-body"> <span class="card-title">Division: </span> <span class="card-text"><%=listing.division %></span></div>
          <div class="card-body"> <span class="card-title">District: </span> <span class="card-text"><%=listing.district %></span></div>
          <div class="card-body"> <span class="card-title">City: </span> <span class="card-text"><%=listing.city %></span></div>
          <div class="card-body"> <span class="card-title">Area: </span> <span class="card-text"><%=listing.area %></span></div>
          <div class="card-body"> <span class="card-title">Community: </span> <span class="card-text"><%=listing.community %></span></div>
          <div class="card-body"> <span class="card-title">Street: </span> <span class="card-text"><%=listing.stname %></span></div>
        </div>
        <div class="">
          <div class="card-body"> <span class="card-title">Last Status: </span> <span class="card-text"><%=listing.laststatus %></span></div>
          <div class="card-body"> <span class="card-title">Price: </span> <span class="card-text">Tk.<%=listing.listprice %>/=</span></div>
          <div class="card-body"> <span class="card-title">For: </span> <span class="card-text"><%=listing.sale %></span></div>
        </div>

      </div>
      <div class="show_second">

        <div class="">
          <div class="card-body"> <span class="card-title">Property Class: </span> <span class="card-text"><%=listing.propertyclass %></span></div>
          <div class="card-body"> <span class="card-title">Property Type: </span> <span class="card-text" id="property00"><%=listing.exteriortype %></span></div>
          <div class="" id="apt001" hidden>
            <div class="card-body"> <span class="card-title">Level: </span> <span class="card-text"><%=listing.level %></span></div>
            <div class="card-body"> <span class="card-title">Unit: </span> <span class="card-text"><%=listing.unit %></span></div>
          </div>
        </div>
        <div class="" id="apt002" hidden>
          <div class="card-body"> <span class="card-title">Number of Bedrooms: </span> <span class="card-text"><%=listing.bedroom %></span></div>
          <div class="card-body"> <span class="card-title">Number of Washrooms: </span> <span class="card-text"><%=listing.washroom %></span></div>
          <div class="card-body"> <span class="card-title">Number of kitchens: </span> <span class="card-text"><%=listing.kitchen %></span></div>
        </div>
      </div>

    </div>

  </div>
  <div class="show_third">
    <div class="">
      <div class="card-body"> <span class="card-title">MLS#: </span> <span class="card-text"><%= ("BD").concat(listing.id.slice(4, 9)); %></span></div>
      <div class="card-body"> <span class="card-title">Holdover Period: </span> <span class="card-text"><%=listing.holdoverdays %></span></div>
    </div>
    <div class="">
      <div class="card-body"> <span class="card-title">Seller Name: </span> <span class="card-text"><%= listing.sellername %></span></div>
      <div class="card-body"> <span class="card-title">Expiry Date: </span> <span class="card-text"><%= formattedDate(listing.expirydate)  %></span></div>
      <div class="card-body"> <span class="card-title">Occup: </span> <span class="card-text"><%= listing.occupy %></span></div>
    </div>
    <div class="">
      <div class="card-body"> <span class="card-title">Possession Date: </span> <span class="card-text"><%= formattedDate(listing.possessiondate) %></span></div>
      <div class="card-body"> <span class="card-title">Contact After Expiry: </span> <span class="card-text">N</span></div>
    </div>
  </div>

  <div class="show_four">
      <div class="card-body" id="land001"> <span class="card-title">In Decimal: </span> <span class="card-text"><%= listing.decimal %></span></div>
      <div class="card-body" id="land002"> <span class="card-title">In Katha: </span> <span class="card-text"><%= listing.katha %></span></div>
      <div class="card-body" id="land003"> <span class="card-title">Length: </span> <span class="card-text"><%= listing.length %></span></div>
      <div class="card-body" id="land004"> <span class="card-title">Width: </span> <span class="card-text"><%= listing.width %></span></div>
  </div>
  <div class="show_four" >
    <div class="" id="apt003" hidden>
      <div class="card-body"> <span class="card-title">Property Exterior: </span> <span class="card-text"><%=listing.exteriortype %></span></div>
      <div class="card-body"> <span class="card-title">Total Sq. ft: </span> <span class="card-text"><%=listing.measurement %></span></div>
      <div class="card-body"> <span class="card-title">Exposure: </span> <span class="card-text"><%= listing.exposure %></span></div>
      <div class="card-body"> <span class="card-title">Maintainence: </span> <span class="card-text"><%= listing.maint %></span></div>
      <div class="card-body"> <span class="card-title">Air Condition: </span> <span class="card-text"><%=listing.ac %></span></div>
      <div class="card-body"> <span class="card-title">Elevator: </span> <span class="card-text"><%=listing.elevator %></span></div>
    </div>
    <div class="" id="apt004" hidden>
      <div class="card-body"> <span class="card-title">Taxes Included: </span> <span class="card-text">N</span></div>
      <div class="card-body"> <span class="card-title">Hydro Included: </span> <span class="card-text">N</span></div>
      <div class="card-body"> <span class="card-title">Cable Tv Included: </span> <span class="card-text">N</span></div>
      <div class="card-body"> <span class="card-title">Bldg Ins Included: </span> <span class="card-text">N</span></div>
      <div class="card-body"> <span class="card-title">Com Elem Incl: </span> <span class="card-text">Y</span></div>
    </div>
    <div class="" id="apt005" hidden>
      <div class="card-body"> <span class="card-title">Balcony: </span> <span class="card-text"><%=listing.balcony %></span></div>
      <div class="card-body"> <span class="card-title">Total Parking Spaces: </span> <span class="card-text"><%=listing.parking %></span></div>
      <div class="card-body"> <span class="card-title">Water Supply: </span> <span class="card-text"><%= listing.water %></span></div>
      <div class="card-body"> <span class="card-title">Power Supply: </span> <span class="card-text"><%= listing.power %></span></div>
      <div class="card-body" id="apt0001"> <span class="card-title">Bldg Amenities: </span> <span class="card-text"><%= listing.amenities %></span></div>
    </div>
    <div class="" id="apt006" hidden>
      <table>
        <tr>
          <th>Floor Spaces</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>Bed Room:</td>
          <td><%= listing.desc1 %></td>
        </tr>
        <tr>
          <td>Living:</td>
          <td><%= listing.desc2 %></td>
        </tr>
        <tr>
          <td>Dining:</td>
          <td><%= listing.desc3 %></td>
        </tr>
        <tr>
          <td>Kitchen:</td>
          <td><%= listing.desc4 %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="show_five">
    <div class="">
      <div class="card-body"> <span class="card-title">Remarks For Clients: </span> <span class="card-text"><%=listing.remarkforclients %></span></div>
      <div class="card-body"> <span class="card-title">Extras: </span> <span class="card-text"><%=listing.extras %></span></div>
      <div class="card-body"> <span class="card-title">Remarks for Brokerages: </span> <span class="card-text"><%=listing.remarkforbrokers %></span></div>
    </div>
  </div>

  <div class="show_six">
    <div class="">
      <div class="">
                <div class="card-body"> <span class="card-title"></span> <span class="card-text"><%= currentUser.brokerage %> , <%= currentUser.phone %>, <%= currentUser.unit %> , <%= currentUser.street %>, <%= currentUser.city %>
                </span></div>
      </div>
      <br>
    </div>
    <div class="show_six-point">
      <div class="">
        <div class="card-body"> <span class="card-title">Contract Date: </span> <span class="card-text"><%= formattedDate(listing.contractdate) %></span></div>
        <div class="card-body"> <span class="card-title">Expiry Date: </span> <span class="card-text"><%= formattedDate(listing.expirydate) %></span></div>
        <div class="card-body"> <span class="card-title">Possession Date: </span> <span class="card-text"><%= formattedDate(listing.possessiondate)%></span></div>
      </div>

      <div class="">
        <div class="card-body"> <span class="card-title">Condition: </span> <span class="card-text"> </span></div>
        <div class="card-body"> <span class="card-title">CB commission: </span> <span class="card-text"> <%= listing.cbcomm %> </span></div>
      </div>

      <div class="">
        <div class="card-body"> <span class="card-title">Ad: </span> <span class="card-text"> <%= listing.ad %> </span></div>
        <div class="card-body"> <span class="card-title">Original price: </span> <span class="card-text">
          <%
          if( listing.originalprice === undefined){
            %>
            <%= listing.listprice %>
          <% }else{ %>
            <%= listing.originalprice %>
          <% } %>
         </span></div>
        <div class="card-body" > <span class="card-title">Last Updated: </span> <span class="card-text"><%= formattedDate(new Date) %></span></div>
      </div>
    </div>
  </div>

  <div class="">
    <% if(currentUser && listing.author.id.equals(currentUser._id)){ %>
      <a href="/listing/<%= listing._id %>/edit">Edit</a>
      <form class="" action="/listing/<%= listing._id %>?_method=delete" method="post">
      <button type="submit" name="button">Remove</button>
      </form>
    <% }%>

    <a href="/info">back</a>
  </div>
</div>
<script type="text/javascript">
  var properties = document.getElementById('property00').textContent;

  if(properties === 'Apartment'){
    var nums = [];

    for( var i = 1; i < 7; i++ ) {
        nums[i] = parseInt( document.getElementById("apt00" + i).hidden = false );
    }
    for( var i = 1; i < 5; i++ ) {
        nums[i] = parseInt( document.getElementById("land00" + i).hidden = true );
    }

  }else if(properties === 'House'){
    var nums = [];

    for( var i = 1; i < 7; i++ ) {
        nums[i] = parseInt( document.getElementById("apt00" + i).hidden = false );
    }
    for( var i = 1; i < 5; i++ ) {
        nums[i] = parseInt( document.getElementById("land00" + i).hidden = true );
    }
  }else if(properties === 'Land'){
    var nums = [];

    for( var i = 1; i < 7; i++ ) {
        nums[i] = parseInt( document.getElementById("apt00" + i).hidden = true );
    }
    for( var i = 1; i < 5; i++ ) {
        nums[i] = parseInt( document.getElementById("land00" + i).hidden = false );
    }
  }else{
    var nums = [];

    for( var i = 1; i < 7; i++ ) {
        nums[i] = parseInt( document.getElementById("apt00" + i).hidden = false );
    }
    for( var i = 1; i < 5; i++ ) {
        nums[i] = parseInt( document.getElementById("land00" + i).hidden = true );
    }
  }


</script>
<% include partials/footer %>
