<% include partials/header %>
<% include partials/loggedin %>


<%
  function formattedDate(foundDate){
    foundDate = (foundDate.getMonth() + 1) + '/' + foundDate.getDate() + '/' +  foundDate.getFullYear();
    return foundDate;
  }
%>
<br>
<div class="wrapper_show show_border">
  <div class="show">

    <div class="show_image">
      <img src="/SEOCapture.PNG" class="figure-img img-fluid rounded" alt="...">
    </div>

    <div class="show_first">

      <div class="show_second">

        <div class="">
          <div class="card-body"> <span class="card-title">Division: </span> <span class="card-text"><%=listing.division %></span></div>
          <div class="card-body"> <span class="card-title">District: </span> <span class="card-text"><%=listing.district %></span></div>
          <div class="card-body"> <span class="card-title">City: </span> <span class="card-text"><%=listing.city %></span></div>
          <div class="card-body"> <span class="card-title">Area: </span> <span class="card-text"><%=listing.area %></span></div>
          <div class="card-body"> <span class="card-title">Community: </span> <span class="card-text"><%=listing.community %></span></div>
        </div>
        <div class="">
          <div class="card-body"> <span class="card-title">Property Status: </span> <span class="card-text"><%=listing.laststatus %></span></div>
          <div class="card-body"> <span class="card-title">Price: </span> <span class="card-text"><%=listing.listprice %></span></div>
          <div class="card-body"> <span class="card-title">For: </span> <span class="card-text"><%=listing.listprice %></span></div>
        </div>

      </div>
      <div class="show_second">

        <div class="">
          <div class="card-body"> <span class="card-title">Property Class: </span> <span class="card-text"><%=listing.propertyclass %></span></div>
          <div class="card-body"> <span class="card-title">Property Type: </span> <span class="card-text"><%=listing.exteriortype %></span></div>
          <div class="card-body"> <span class="card-title">Level: </span> <span class="card-text"><%=listing.exteriortype %></span></div>
          <div class="card-body"> <span class="card-title">Unit: </span> <span class="card-text"><%=listing.exteriortype %></span></div>
        </div>
        <div class="">
          <div class="card-body"> <span class="card-title">Number of Bedrooms: </span> <span class="card-text"><%=listing.bedroom %></span></div>
          <div class="card-body"> <span class="card-title">Number of Washrooms: </span> <span class="card-text"><%=listing.washroom %></span></div>
          <div class="card-body"> <span class="card-title">Number of kitchens: </span> <span class="card-text"><%=listing.kitchen %></span></div>
        </div>

      </div>

    </div>

  </div>
  <div class="show_third">
    <div class="">
      <div class="card-body"> <span class="card-title">MLS#: </span> <span class="card-text">AE8745</span></div>
      <div class="card-body"> <span class="card-title">Holdover Period: </span> <span class="card-text"><%=listing.holdoverdays %></span></div>
    </div>
    <div class="">
      <div class="card-body"> <span class="card-title">Seller Name: </span> <span class="card-text"><%= listing.sellername %></span></div>
      <div class="card-body"> <span class="card-title">Expiry Date: </span> <span class="card-text"><%= formattedDate(listing.expirydate)  %></span></div>
      <div class="card-body"> <span class="card-title">Occup: </span> <span class="card-text"><%= formattedDate(listing.possessiondate) %></span></div>
    </div>
    <div class="">
      <div class="card-body"> <span class="card-title">Possession Date: </span> <span class="card-text"><%= formattedDate(listing.possessiondate) %></span></div>
      <div class="card-body"> <span class="card-title">Contact After Expiry: </span> <span class="card-text"><%= formattedDate(listing.possessiondate) %></span></div>
    </div>
  </div>
  <div class="show_four">
    <div class="">
      <div class="card-body"> <span class="card-title">Property Exterior: </span> <span class="card-text"><%=listing.exteriortype %></span></div>
      <div class="card-body"> <span class="card-title">Total Sq. ft: </span> <span class="card-text"><%=listing.measurement %></span></div>
      <div class="card-body"> <span class="card-title">Exposure: </span> <span class="card-text"><%= formattedDate(listing.possessiondate) %></span></div>
    </div>
    <div class="">
      <div class="card-body"> <span class="card-title">Maintainence: </span> <span class="card-text"><%= formattedDate(listing.possessiondate) %></span></div>
      <div class="card-body"> <span class="card-title">Taxes Included: </span> <span class="card-text"><%= formattedDate(listing.possessiondate) %></span></div>
      <div class="card-body"> <span class="card-title">Hydro Included: </span> <span class="card-text"><%= formattedDate(listing.possessiondate) %></span></div>
      <div class="card-body"> <span class="card-title">Cable Tv Included: </span> <span class="card-text"><%=listing.ac %></span></div>
      <div class="card-body"> <span class="card-title">Bldg Ins Included: </span> <span class="card-text"><%=listing.ac %></span></div>
      <div class="card-body"> <span class="card-title">Com Elem Incl: </span> <span class="card-text"><%=listing.ac %></span></div>
      <div class="card-body"> <span class="card-title">Air Condition: </span> <span class="card-text"><%=listing.ac %></span></div>
      <div class="card-body"> <span class="card-title">Elevator/Lift Service: </span> <span class="card-text"><%=listing.elevator %></span></div>
    </div>
    <div class="">
      <div class="card-body"> <span class="card-title">Balcony: </span> <span class="card-text"><%=listing.water %></span></div>
      <div class="card-body"> <span class="card-title">Garage Spaces: </span> <span class="card-text"><%=listing.power %></span></div>
      <div class="card-body"> <span class="card-title">Total Parking Spaces: </span> <span class="card-text"><%=listing.water %></span></div>
      <div class="card-body"> <span class="card-title">Water Supply: </span> <span class="card-text"><%=listing.water %></span></div>
      <div class="card-body"> <span class="card-title">Power Supply: </span> <span class="card-text"><%=listing.power %></span></div>
      <div class="card-body"> <span class="card-title">Bldg Amenities: </span> <span class="card-text"><%=listing.power %></span></div>
    </div>
    <div class="">
      <table>
        <tr>
          <th>Room</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>Living:</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Dining:</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Kitchen:</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Master:</td>
          <td>4</td>
        </tr>
        <tr>
          <td>2nd Bdrms:</td>
          <td>5</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="show_five">
    <div class="">
      <div class="card-body"> <span class="card-title">Remarks For Clients: </span> <span class="card-text"><%=listing.remarkforclients %></span></div>
      <div class="card-body"> <span class="card-title">Extras: </span> <span class="card-text"><%=listing.extras %></span></div>
      <div class="card-body"> <span class="card-title">Remarks for Brokerages: </span> <span class="card-text"><%=listing.remarkforbrokers %></span></div>
    </div>
  </div>

  <div class="show_six">
    <div class="">
      <div class="">
        <h2>Brokerage's information</h2>
      </div>
      <br>
    </div>
    <div class="show_six-point">
      <div class="">
        <div class="card-body"> <span class="card-title">Contract Date: </span> <span class="card-text"><%= formattedDate(listing.contractdate) %></span></div>
        <div class="card-body"> <span class="card-title">Expiry Date: </span> <span class="card-text"><%= formattedDate(listing.expirydate) %></span></div>
        <div class="card-body"> <span class="card-title">Possession Date: </span> <span class="card-text"><%=formattedDate(listing.possessiondate)%></span></div>
      </div>

      <div class="">
        <div class="card-body"> <span class="card-title">Condition: </span> <span class="card-text">Condition</span></div>
        <div class="card-body"> <span class="card-title">CB comm: </span> <span class="card-text"> CB comm</span></div>
      </div>

      <div class="">
        <div class="card-body"> <span class="card-title">Ad: </span> <span class="card-text">Ad: </span></div>
        <div class="card-body"> <span class="card-title">Escape</span> <span class="card-text">Escape</span></div>
        <div class="card-body"> <span class="card-title">Original </span> <span class="card-text"><%=listing.listprice %></span></div>
      </div>
    </div>
  </div>

  <div class="">
    <% if(currentUser && listing.author.id.equals(currentUser._id)){ %>
      <a href="/listing/<%= listing._id %>/edit">Edit</a>
      <form class="" action="/listing/<%=listing._id %>?_method=delete" method="post">
      <button type="submit" name="button">Remove</button>
      </form>
    <% }%>

    <a href="/listing">back</a>
  </div>
</div>

<% include partials/footer %>
